SECRET_KEY=your-very-secret-key-change-in-production
DEBUG=True
DATABASE_URL=postgres://einss:changeme@db:5432/einss
REDIS_URL=redis://redis:6379/0
POSTGRES_PASSWORD=changeme
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
MEDIA_ROOT=/app/media
STATIC_ROOT=/app/staticfiles
# Clé privée RSA pour signer les tokens QR (générer avec: openssl genrsa -out inss_private.pem 2048)
INSS_PRIVATE_KEY_PATH=/app/keys/inss_private.pem
INSS_PUBLIC_KEY_PATH=/app/keys/inss_public.pem
